:root {
	--main-color: #3e3e3e;
	--bg-color: #F5F5F0;

	--a-color: rgb(0, 102, 204);
	--a-color-visited: #1a0dab;
	--blockquote-bg-color: #f3f3f3;
	--code-bg-color: #f3f3f3;

	--bg-color-about-me: #e0e0e0;
	--bg-color-aside: #e0e0e0;
	--border-color-aside: #252525;

	--bg-color-contracts: #767676;
	--text-color-contracts: #ededed;
}

@media (prefers-color-scheme: dark) {
	:root {
		--main-color: #d0d0d0;
		--bg-color: #252525;

		--a-color: #8798e2;
		--a-color-visited: #554dac;
		--blockquote-bg-color: #5b5b5b;
		--code-bg-color: #5b5b5b;

		--bg-color-about-me: #1a1a1a;
		--bg-color-aside: rgb(61, 61, 61);
		--border-color-aside: #d0d0d0;

		--bg-color-contracts: #767676;
		--text-color-contracts: #ededed;
	}
}


body {
	font-family: Consolas,
							 Monospace, /* Linux = DejaVu Sans Mono */
							 Courier;   /* MacOSX & Windows = Courier */
	// font-size: 17px;
	// font-size: calc(16px + 0.390625vw);
	font-size: calc(16px + 0.1vw);
	line-height: 1.6em;
	max-width: 950px;  /* For Desktop PC (see @media for Tablets/Phones) */
	padding-left: 3%;
	padding-right: 3%;
	margin: 0 auto;
	background: var(--bg-color);
	color: var(--main-color);

	nav {
		margin-bottom: 20px;
	}
}

a {
	color: var(--a-color-visited);
	font-weight: bold;

	// Othersise links will cause small displays to scroll
	word-break: break-word;
}

a:visited {
	color: var(--a-color);
	font-weight: bold;
}

a:hover {
	text-decoration: none;
}

img {
	border: none;
}

div.clearfix {
	clear: both;
}

about-me {
	display: block;
	background-color: var(--bg-color-about-me);
	padding: 10px;
	padding-left: 20px;

	img {
		max-width: 100%;
		height: auto;
		float: right;
		margin: 10px;
	}

	p {
		font-size: 1.4rem;
		padding: 0px 5px;
	}
}

@media only screen and (max-width: 768px) {

	h1 {
		line-height: calc(1.5em + 0.1vw);
	}

  about-me {
    padding-left: 30px;

		p {
			font-size: 1.3rem;
			padding: 0px 5px;
		}
  }
}

hr {
	clear: both;
}

p {
	margin-top: 0px;
	margin-bottom: 4ch;
}

sup {
	vertical-align: 0.3em;
	font-size: 0.65em;
}

pre {
	font-family: Consolas,
							 Monospace, /* Linux = DejaVu Sans Mono */
							 Courier;   /* MacOSX & Windows = Courier */
	font-size: 1rem;
	background-color: white;
	border: 1px solid Black;
	padding-left: 2%;
	padding-top: 1ch;
	padding-bottom: 1ch;
	overflow: scroll;
}

div.heading {
	font-weight: bold;
	text-transform: uppercase;
}

.title {
	text-decoration: none;
}

img.pixel, canvas.pixel {
	image-rendering: pixelated;
	image-rendering: -moz-crisp-edges;
	image-rendering: crisp-edges;
}

p, li {
	// multiling blocks, eg those with fences, don't look good formatted with
	// this style so rely on the attributes that are present when these are
	// generated to ignore them.
	//
	// & > targets direct descendents only
	& > code:not([data-lang]) {
		background-color: #595959;
		color: #e3e2e2;
		padding: 4px 8px;
		border-radius: 5px;
	}
}

pre{
		margin-bottom: 4ch;
}

div.open-to-contracts {
	border-radius: 10px;
	background-color: var(--bg-color-contracts);
	color: var(--text-color-contracts);
	padding: 20px;
	margin-bottom: 30px;
	font-size: 1.2rem;
}

/*
	Fixes iOS font sizing anomaly

	https://github.com/adityatelange/hugo-PaperMod/issues/828
*/
code {
	text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

/* ----- Post list ----- */

post_list {
	ul p {
		margin: 5px 0px 25px 0px;
		padding: 0px 0px 0px 15px;
		border-left: 1px solid #3e3e3e;
		font-style: italic;
	}
}

/* ----- Tag list ----- */

.tag-list {
  list-style-type: none;
  padding-left: 0;

  li {
    margin-bottom: 30px;

		a.tag-title {
			font-size: 1.2em;
		}

    .first-post {
			margin: 10px 0px 0px 40px;

			p.summary {
				margin: 5px 0px 25px 0px;
		padding: 0px 0px 0px 15px;
		border-left: 1px solid #3e3e3e;
		font-style: italic;
			}
    }
  }
}

/* ----- Posts ----- */

article {
	blockquote {
		background-color: var(--blockquote-bg-color);
		border: dashed 1px grey;
		font-style: italic;
		text-align: justify;

		padding: 2ch;

		margin: 2ch 0ch 4ch 2ch;


		p:last-child {
			margin-bottom: 0px;
		}
	}

	blockquote div {
		text-transform: none;
		text-align: right;
		width: 100%;
	}

	h1,h2 {
		clear: both;
	}

	hr {
		width: 100%;
		height: 1px;
		border: 0px;
		background-color: rgb(161, 161, 161);
	}

	figure {
		margin: 0px 0px 4ch 0px;
		max-width: 100%;
	}

	figcaption {
		max-width: 100%;

		h4 {
			margin: 0px;
		}
	}

	.right {
		float: right;
		margin: 10px 0px 40px 40px;
		max-width: 400px;
	}

	.left {
		float: left;
		margin: 10px 40px 40px 0px;
		max-width: 400px;
	}

	.full {
		width: 100%;

		img {
			max-width: 100%;
		}
	}

	.youtube-embed {
		width: 100%;
		position: relative;
		padding-bottom: 56.25%;
		height: 0;
		overflow: hidden;
		margin-bottom: 30px;

		iframe {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			border:0;
		}
	}

	img {
		max-width: 400px;
		margin: 10px 0px;
	}

	img[src$='#full'] {
		max-width: 100%;
	}

	img[src$='#right'] {
		float: right;
		margin: 10px 0px 40px 40px;
	}

	img[src$='#left'] {
		float: left;
		margin: 10px 40px 40px 0px;
	}

	figure {
		figcaption {
			p {
				margin-left: 30px;
			}

			h4:before {
				content: "⤴ "
			}
		}
	}

	ul {
		clear: both;

		li {
			p {
				margin-bottom: 0px;
			}
		}
	}

	table {
		margin-bottom: 40px;
	}

	pre {
		background: var(--code-bg-color);
	}

	aside {
		border: 1px dashed var(--border-color-aside);;
		padding: 15px;
		margin: 4ch 0px;
		background-color: var(--bg-color-aside);

		h3 {
			margin-top: 0px;
		}

		:last-child {
			margin-bottom: 10px;
		}
	}

	aside.thought:before {
		content: "🤔";
		font-size: 3em;
		position: relative;
		float: right;
		top: -1.6rem;
		left: 2rem;

		// Shift the thinker over a bit on an iPhone.
		@media only screen and (max-width: 768px) {
			font-size: 2.5em;
			left: 1.3rem;
		}
	}


}

.pagination {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.page-item {
  margin-right: 10px;
}

.page-link {
  display: block;
  padding: 10px;
  background: var(--bg-color);
  color: var(--main-color);
}

.page-item.active .page-link {
  background: var(--main-color);
  color: var(--bg-color);
}

.page-link:hover {
  background: var(--a-color);
  color: var(--bg-color);
}

@media (prefers-color-scheme: dark) {
  .page-link {
    background: var(--bg-color);
    color: var(--main-color);
  }
  .page-item.active .page-link {
    background: var(--main-color);
    color: var(--bg-color);
  }
  .page-link:hover {
    background: var(--a-color);
    color: var(--bg-color);
  }
}
