<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		{{ $style := resources.Get "sass/styles.scss" | toCSS }}
		<link rel="stylesheet" href="{{ $style.RelPermalink }}">
		<script defer data-domain="sailingsilvergirl.com" src="https://plausible.io/js/script.js"></script>

		<link href="{{ .Site.BaseURL }}rss.xml" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" />

		<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
		<link rel="manifest" href="/site.webmanifest">

		<title>{{ .Title }}</title>
		<meta name="description" content="{{ .Title }}">
		<meta name="author" content="{{ .Site.Author.name }}">
	</head>
	<body>
		<h1>{{ .Site.Title }}</h1>
		<em></srong><p>The adventures of the sailing yacht Silver Girl, and all who sail aboard her.</p></em>
		{{ partial "nav.html" . }}

		{{ block "main" . }}{{ end }}

		{{ partial "footer.html" . }}
	</body>
</html>
