{{ define "main" }}
	{{ $dateTime := .PublishDate.Format "2006-01-02" }}
	{{ $dateFormat := .Site.Params.dateFormat | default "Monday, January 2, 2006" }}
	<time datetime="{{ $dateTime }}">{{ .PublishDate.Format $dateFormat }}</time>
	{{ $baseurl := .Site.BaseURL }}
	{{ if or .Params.tags .Params.categories .Params.series }}
	|
	{{ end }}
	{{ if isset .Params "tags" }}
	tags:{{ range .Params.tags }}<a href="{{ $baseurl }}tags/{{ . | urlize }}">{{ . }}</a> {{ end }}
	{{ end }}

	{{ if isset .Params "categories" }}
	categories:{{ range .Params.categories }}<a href="{{ $baseurl }}categories/{{ . | urlize }}">{{ . }}</a> {{ end }}
	{{ end }}

	{{ if isset .Params "series" }}
	series:{{ range .Params.series }}<a href="{{ $baseurl }}series/{{ . | urlize }}">{{ . }}</a> {{ end }}
	{{ end }}

	<hr />

	<h2>{{ if .Draft }}DRAFT: {{end}}{{ .Title }}</h2>

	<article>
		{{ .Content }}
	</article>

{{ end }}
